.posicao-material {
  position: relative;
  text-align: justify;
  top: 0px;
  left: 0PX;
  max-width: 1000PX;
}
.div-posicao{

  position: relative;
  top: -400px;
  left: 25%;
  width: 60%;
  text-align: justify;
  }

