<div id="list-example" class="list-group">
    <a class="list-group-item list-group-item-action" href="#list-item-1">Item 1</a>
    <a class="list-group-item list-group-item-action" href="#list-item-2">Item2</a>
    <a class="list-group-item list-group-item-action" href="#list-item-3">Item 3</a>
    <a class="list-group-item list-group-item-action" href="#list-item-4">Item 4</a>
  </div>
  <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
    <h4 id="list-item-1">Item 1</h4>
    <p>...</p>
    <h4 id="list-item-2">Item 2</h4>
    <p>...</p>
    <h4 id="list-item-3">Item 3</h4>
    <p>...</p>
    <h4 id="list-item-4">Item 4</h4>
    <p>...</p>
  </div>


<div *ngFor="let a of curso.ob.router;let i = index" class="d-inline-block " style="position: relative; top:50px; padding-left: 20px;padding-top: 10px;">



  <div class="card" style="width: 18rem;" id="cards" data-spy="scroll"  >

    <div class="card-body">
      <h5 class="card-title"> {{a.nome}}</h5>
      <p class="card-text">{{a.resumo}}</p>
      <a href="{{a.link}}" class="btn btn-primary" target="_blank">Baixar</a>
    </div>


  </div>
</div>
<script>
  function scrollToBottom(id) {
      const div = document.getElementById(id);
      div.scrollTop = div.scrollHeight - div.clientHeight;
   }
</script>
