<div  class="div-posicao">
    <h3><strong>MAPA DO SITE</strong></h3>
    <ul class="list-group" style="font-size: 18pt;">
        <li  routerLink="projeto" style=" cursor: pointer">Projeto</li>
      <li routerLink="metodologia" style=" cursor: pointer">Metodologia</li>
        <li
      routerLink="regioes" style=" cursor: pointer">Mapas temáticos
        </li>
        <li>
          <ul>
            <li routerLink="regiao/1" style=" cursor: pointer">Demografia
            </li>
            <li routerLink="regiao/2" style=" cursor: pointer">Administrativos
            </li>
            <li routerLink="regiao/3" style=" cursor: pointer">Violência
            </li>
            <li routerLink="regiao/4" style=" cursor: pointer">Mortalidade
            </li>
            <li routerLink="regiao/5" style=" cursor: pointer">Saúde Ambiental
            </li>
          </ul>

        </li>
        <li >
        Textos de Apoio

        </li>
        <li>
          <ul>
              <li routerLink="material/1" style=" cursor: pointer">Textos de Apoio</li>
              <li routerLink="material/2" style=" cursor: pointer">Textos de Apoio</li>
              <li routerLink="material/3" style=" cursor: pointer">Textos de Apoio </li>
          </ul>
        </li>
        <li  routerLink="equipe" style=" cursor: pointer">Equipe

        </li>
      </ul>

</div>
