.box-conteudo{
  position: relative;
  top:-500px;
  left: 40%;
  width: 50%;
  text-align: justify;
}
.menu-lateral{
  position: relative;
  top:-500px;
  width: 700px;
  text-align: justify;
  cursor:pointer;
  color: royalblue;
}

.titulo{
  position: relative;
  top:-500px;
  max-width: 300px;
}
.box-texto{
  position: relative;
  top:-500px;
  top: 70px;
}

.map-frame {
  position: relative;
  top: -1000px;
  left: 300px;
}
.box-titulo{
  position: relative;
  top:-500px;
}



.legenda{
  position: relative;
  top:-500px;

  max-width: 100px;
  max-height: 100px;

}
.branco{
  margin: 10px;
  max-width: 20px;
  max-height: 20px;
  width: 20px;
  height: 20px;
  background-color:white;

}

.conteudo{
  position: relative;
  top:-500px;



}

/*
Densidade Demográfica do Rio Grande do Sul, 2010 (hab/km2)
*/

.leg1{
  margin: 10px;
  width: 20px;
  height: 20px;
  border: 1px solid;
  border-color: grey;
  background-color:#ffffff;
  max-width: 20px;
  max-height: 20px;


}

.leg2{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color: #ffe599;
  max-width: 20px;
  max-height: 20px;

}

.leg3{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color: #ffd966;
  max-width: 100px;
  max-height: 100px;

}

.leg4{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color:#f1C232;
  max-width: 100px;
  max-height: 100px;

}

.leg5{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color: #7f6000;
  max-width: 100px;
  max-height: 100px;

}

/*
Taxa de População Raça/Cor - Branca
*/
.leg6{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color: #d9ead3;
  max-width: 100px;
  max-height: 100px;

}

.leg7{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color: #93c47d;
  max-width: 100px;
  max-height: 100px;

}

.leg8{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color: #38761d;
  max-width: 100px;
  max-height: 100px;

}

.leg9{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color:#274e13;
  max-width: 100px;
  max-height: 100px;

}

/*
Taxa de População Raça/Cor - preta
Taxa de População Raça/Cor - Parda
Taxa de População Raça/Cor - Indigena
Taxa de População Raça/Cor - Amarela
*/

.leg10{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color:#cccccc;
}

.leg11{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color: #ffd966;
}

.leg12{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color: #bf9000;
}

.leg13{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color:yellow;
}


/*
Obitos Infantis Rio Grande do Sul
Obitos Infantis Branca
*/

.leg14{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color: #ff9900;
}

.leg15{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color: #fff000;
}

.leg16{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color: #00ffff;
}

.leg17{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color: #0000ff;
}

.leg18{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color: #9900ff;
}

.leg19{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color: #ff00ff;
}

.leg20{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color: #ff0000;
}

/*
Obitos Infantis Indigenas
*/
.leg21{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color: #fce5cd;
}

.leg22{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color:#f9cb9c;
}

.leg23{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color: #783f04;
}
/*
Obitos infantis Preta
Obitos infantis Parda
*/
.leg24{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color: #fce5cd;

}
.leg25{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color: #f9cb9c;

}
.leg26{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color: #f6b26b;

}
.leg27{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color: #e69138;
}
.leg28{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color:#b45f06;
}
.leg29{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color: #783f04;
}

/*
Violência Psicológica e Moral
Quantidade de Casos de Violência Feminina
*/
.leg30{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color: #f4cccc;
}

.leg31{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color: #cccccc;
}

.leg32{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color: #ff9900;
}

.leg33{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color:#ffff00;
}

.leg34{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color:#9900ff;
}

.leg35{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color: #ff00ff;
}

.leg36{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color: #e06666;
}

.leg37{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color:#f6b26b;
}

.leg38{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color: #ffd966;
}

.leg39{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color:#00ff00;
}
.leg40{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color:#274e13;
}

/*
Casos de Trabalho Infantil
Casos de Tortura
leg: ['leg10 ','leg11','leg12','branco','branco'],
*/

/*
Violencia sexual
Taxa de Casos de Violência Econômica
Quantidade de Casos de Violência Física Masculina
*/

.leg41{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color: #cccccc;
}

.leg42{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color: #f6b26b;
}
.leg43{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color:#bf9000;
}
.leg44{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color: #9900ff;
}
.leg45{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color: #a64d79;
}
.leg46{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color:#ff00ff;
}
.leg47{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color:#ea9999;
}
/*
Violência Negligência Abandono
Lesão Auto-Provocada
*/
.leg49{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color: #cccccc;
}
.leg50{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color: #ff9900;
}
.leg51{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color:#ffff00;
}
.leg52{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color:#00ff00;
}
.leg53{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color:#9900ff;
}

.leg54{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color:#c27ba0;
}
.leg55{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color:#674ea7;
}
.leg56{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color:#6aa84f;
}
.leg57{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color:#f1c232;
}
.leg58{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color:#e69138;
}
.leg59{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color:#cc0000;
}
.leg60{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color:#660000;
}
.leg61{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color:#783f04;
}
.leg62{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color:#7f6000;
}


/*
tráfico de seres humanos
*/
.leg63{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color:#e0ffd4;
}

.leg64{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color:#267114;
}

.leg65{
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color:#267114;
}
