<div class="menu-lateral" *ngIf="regiao">
  <div class="container-options">
    <div class="container-fluid">
      <div class="col-2">
        <br>
        <br>

        <div class="list-group" style="font-size: 12px;">

          <a *ngFor="let map of regiao.maps; let i = index"  class="list-group-item " (click)="showMap(map.link, map.titulo, map.Ltitulo, map.leg)">

            {{ map.nome }}
          </a>
        </div>
      </div>
    </div>
  </div>
  </div>

        <div *ngIf="showConteudo" class="box-conteudo">

          <div class="titulo">
            <h3>{{ regiao.regiao }}</h3>
          </div>

          <div class="box-texto">
            <p>
              {{ regiao.desc }}
            </p>
          </div>

        </div>


        <div *ngIf="!showConteudo" class="box-conteudo map-frame" >

          <br>
          <br>
          <br>
          <h5> {{ titulo }} </h5>


          <iframe width="700" height="500" scrolling="no" frameborder="no" [src]=" this.mapUrl | safe"></iframe>

           <div class="legenda">


            <h5 >Legenda </h5>

            <div style="height: 500px">


            </div>
            <div style="height: 500px; position: relative;top:-100px">

                <div  *ngFor="let legenda of this.legendasP; let i = index" style=" margin: 10px; max-width: 150px; width: 650px;height: 20px;">

                 {{legenda.tit}}
                 <div class="{{legenda.leg}}"></div>

                  </div>

              </div>

        </div>

        </div>


