/* para garantir que estes elementos ocuparão toda a tela */
html {
background-color: #cbd;
}

#de  {
background: url(./assets/images/ifrs-google-maps.PNG) center center no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
